.navbar-nav {
    font-size: 0.9em !important;
}

.btn-outline-primary :hover{
    color: #fff !important;
    text-decoration: none;
}

.btn-primary :hover{
    color: #fff !important;
    text-decoration: none;
}
